<section class="ui raised segment">
  <div class="ui grid">
    <aside class="six wide column">
        <img src="images/poi.png" class="ui medium image">
    </aside>
    <article class="eight wide column">
      <table class="ui celled table segment">
        <thead>
          <tr>
            <th>Name</th>
            <th>Catagory</th>
            <th>Added By</th>
          </tr>
        </thead>
        <tbody>
          {{#each pois}}
            <tr>
              <td> {{name}} </td>
              <td> {{catagory}} </td>
              <td> {{poiadder.firstName}} {{poiadder.lastName}} </td>
                <td>
                <div>
                    <a href ="/viewPoi/{{_id}}" button class="ui blue submit button inverted black">View</abutton> </a>
                </div>
                </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </article>
  </div>
</section>